@charset "UTF-8";
@keyframes inscreen {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}
.inscreen {
  animation: inscreen 0.4s ease forwards;
}

@keyframes outscreen {
  0% {
    right: auto;
    left: 0;
  }
  100% {
    right: auto;
    left: -100%;
  }
}
.outscreen {
  animation: outscreen 0.5s ease forwards;
}

@keyframes vibe {
  0%, 100% {
    -webkit-transform: translate(50%, 0);
    -ms-transform: translate(50%, 0);
    -o-transform: translate(50%, 0);
    transform: translate(50%, 0);
  }
  25% {
    -webkit-transform: translate(50%, -6px);
    -ms-transform: translate(50%, -6px);
    -o-transform: translate(50%, -6px);
    transform: translate(50%, -6px);
  }
  50% {
    -webkit-transform: translate(50%, 6px);
    -ms-transform: translate(50%, 6px);
    -o-transform: translate(50%, 6px);
    transform: translate(50%, 6px);
  }
  75% {
    -webkit-transform: translate(50%, -6px);
    -ms-transform: translate(50%, -6px);
    -o-transform: translate(50%, -6px);
    transform: translate(50%, -6px);
  }
}
.anim-typewriter {
  animation: typewriter 1.5s steps(50) 1 normal both;
  width: 430px;
}
@media (max-width: 992px) {
  .anim-typewriter {
    animation: typewriter-xs 1.5s steps(50) 1 normal both;
    width: 285px;
  }
}

@keyframes typewriter {
  from {
    max-width: 0;
  }
  to {
    max-width: 430px;
  }
}
@keyframes typewriter-xs {
  from {
    max-width: 0;
  }
  to {
    max-width: 285px;
  }
}
@keyframes shape {
  0% {
    left: -100%;
    opacity: 0;
  }
  100% {
    left: 100%;
  }
}
@keyframes pattern-anim {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: 800px;
  }
}
.box {
  box-shadow: 0px 8px 18px 0px rgba(15, 36, 96, 0.15);
}

body {
  font-family: itc;
  overflow-x: hidden;
  overflow-y: visible;
  font-style: italic;
}
body::-webkit-scrollbar {
  background-color: #e6e6e6;
  width: 8px;
  height: 0;
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(55, 172, 86, 0.75);
}

html {
  scrollbar-width: thin;
  scrollbar-color: rgba(55, 172, 86, 0.75) #e6e6e6;
}
@media (max-width: 992px) {
  html {
    overflow-x: hidden;
  }
}

.container {
  max-width: 1170px;
}

.fixall {
  outline: none;
  box-shadow: none;
  border: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
.fixall:hover, .fixall:active, .fixall:focus {
  text-decoration: none;
}

input[type=number] {
  -moz-appearance: textfield !important;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@font-face {
  font-family: "itc";
  src: url("../fonts/ITC/ITC HANDEL GOTHIC ARABIC REGULAR.OTF");
}
@font-face {
  font-family: "itc-md";
  src: url("../fonts/ITC/ITC HANDEL GOTHIC ARABIC MEDIUM.OTF");
}
@font-face {
  font-family: "itc-li";
  src: url("../fonts/ITC/ITC HANDEL GOTHIC ARABIC LIGHT.OTF");
}
@font-face {
  font-family: "itc-bd";
  src: url("../fonts/ITC/ITC HANDEL GOTHIC ARABIC BOLD.OTF");
}
@font-face {
  font-family: "itc-hv";
  src: url("../fonts/ITC/ITC HANDEL GOTHIC ARABIC HEAVY.OTF");
}
.join {
  background-color: #25accd;
  width: 107px;
  height: 37px;
  font-size: 16px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  margin-right: 9px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
  outline: none !important;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.join:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.join:hover {
  color: #fff;
}
.join:hover:before {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  border-radius: 40px;
}

.header-sec .join {
  width: 162px;
  height: 46px;
  margin-left: auto;
  margin-top: 50px;
}
@media (max-width: 1199px) {
  .header-sec .join {
    margin: auto;
    margin-top: 50px;
    transition-delay: unset !important;
  }
}

.info .join {
  width: 162px;
  height: 46px;
  margin: auto;
  margin-top: 41px;
}
.info.info2 .join {
  background-color: #37ac56;
}

.terms .join {
  width: 162px;
  height: 46px;
  margin: auto;
  background-color: #37ac56;
  margin-top: 70px;
}

.nav-sec {
  display: flex;
  align-items: center;
  padding-top: 37px;
  position: sticky;
  top: 0;
  right: 0;
  z-index: 99999;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 1199px) {
  .nav-sec {
    position: relative;
    padding: 15px 0 0 !important;
    box-shadow: none !important;
  }
}
.nav-sec .nav-sec-cont {
  display: flex;
  align-items: center;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.nav-sec .mobile-cont {
  display: flex;
  align-items: center;
}
@media (max-width: 992px) {
  .nav-sec .mobile-cont {
    display: block;
  }
}
.nav-sec .nav-li {
  margin-left: 15px;
}
.nav-sec .nav-list {
  display: flex;
  align-items: center;
  margin-right: 62px;
}
.nav-sec .nav-link {
  font-size: 16px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  color: #626262;
  position: relative;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-gradient(linear, right top, left top, from(#25accd), color-stop(50%, #25accd), color-stop(50%, #626262));
  background-image: linear-gradient(to left, #25accd, #25accd 50%, #626262 50%);
  background-size: 200% 100%;
  background-position: 0%;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding-right: 5px;
}
.nav-sec .nav-link:hover {
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-position: 100%;
}

@media (max-width: 1199px) {
  .mobile-cont {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    content: "";
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    transition: all 500ms ease-in-out;
    clip-path: circle(30px at 37px 44px);
    -webkit-clip-path: circle(30px at 37px 44px);
    -moz-clip-path: circle(30px at 37px 44px);
    -o-clip-path: circle(30px at 37px 44px);
    z-index: 999;
    visibility: hidden;
  }
  .mobile-cont .nav-list {
    flex-direction: column;
    margin: 0;
    justify-content: flex-start;
    align-items: center;
    margin-top: 95px;
    padding: 0 0;
  }
  .mobile-cont .nav-li {
    margin: 10px 0;
  }
  .mobile-cont .nav-link {
    font-size: 20px;
    font-family: "itc-md";
    color: #626262;
    background-image: none;
    background-image: none;
    -webkit-text-fill-color: #626262;
    padding: 0;
  }
  .mobile-cont .join {
    margin: 0 auto;
    margin-top: 37px;
    width: 150px;
  }
}
.mobile-cont .right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 25px;
}
.mobile-cont .right .contact {
  display: flex;
  align-items: center;
  color: #23accd;
  font-size: 16px;
}
.mobile-cont .right .contact span {
  display: flex;
  background-color: white;
  width: 39px;
  height: 39px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 16px;
  color: #23accd;
  margin-left: 5px;
}
.mobile-cont .right .phone {
  transform: rotate(-90deg);
}

.nav-tgl {
  display: none;
  cursor: pointer;
  position: fixed;
  z-index: 100;
  left: 15px;
  top: 44px;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  padding: 0;
  background: #fff;
  line-height: 0.6;
  text-align: center;
  transform: translateY(-50%);
  z-index: 9999;
}
@media (max-width: 992px) {
  .nav-tgl {
    display: inline-block;
  }
}

.nav-tgl > span {
  display: inline-block;
  position: absolute;
  height: 2px;
  width: 28px;
  border-radius: 1px;
  background: #626262;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

.nav-tgl > span:before,
.nav-tgl > span:after {
  display: inline-block;
  position: absolute;
  content: "";
  height: 2px;
  border-radius: 1px;
  background: #626262;
  transition: all 200ms;
}

.nav-tgl > span:before {
  top: -8px;
  left: 0;
  width: 28px;
}

.nav-tgl > span:after {
  top: 8px;
  left: 0;
  width: 28px;
}

.nav-tgl:focus {
  outline: none;
}

.nav-tgl:hover > span:after,
.nav-tgl:hover > span:before {
  width: 28px;
  left: 0;
}

.nav-sec-cont.active .nav-tgl {
  background-color: transparent;
}

.nav-sec-cont.active .mobile-cont {
  visibility: visible;
  clip-path: circle(100%);
  -webkit-clip-path: circle(100%);
  -moz-clip-path: circle(100%);
  -o-clip-path: circle(100%);
}

.nav-sec-cont.active .nav-tgl > span {
  height: 0;
}

.nav-sec-cont.active .nav-tgl > span:after,
.nav-sec-cont.active .nav-tgl > span:before {
  top: 0px;
  left: 2px;
  width: 25px;
  background: #626262;
}

.nav-sec-cont.active .nav-tgl > span:after {
  transform: rotate(-45deg);
  top: -2px;
}

.nav-sec-cont.active .nav-tgl > span:before {
  transform: rotate(45deg);
  top: -2px;
}

.box {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.overfollow-fix {
  overflow-y: hidden;
}

.header {
  position: relative;
}

.header-banner img {
  position: absolute;
  top: -380px;
  right: -120px;
}
@media (max-width: 1199px) {
  .header-banner img {
    position: relative;
    top: auto;
    right: auto;
  }
}

.header-sec {
  margin-top: 100px;
}
@media (max-width: 1199px) {
  .header-sec {
    margin-top: 50px;
  }
}
@media (max-width: 1199px) {
  .header-sec:last-of-type {
    margin-top: 25px;
  }
}
.header-sec .main-title {
  font-family: "itc-bd";
  font-size: 36px;
  color: #626262;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 2px;
  padding-bottom: 2px;
}
.header-sec .main-title span {
  color: #25accd;
}
@media (max-width: 1199px) {
  .header-sec .main-title {
    font-size: 24px;
    text-align: center;
    margin: auto;
    margin-bottom: 25px;
    padding: 2px;
  }
}
.header-sec .txt {
  font-size: 20px;
  font-family: "itc-li";
  color: #626262;
  line-height: 1.8;
  padding-left: 100px;
  margin-top: 33px;
}
@media (max-width: 1199px) {
  .header-sec .txt {
    padding-left: 0;
    transition-delay: unset !important;
  }
}

.about-sec {
  margin-top: 180px;
}
@media (max-width: 1199px) {
  .about-sec {
    margin-top: 80px;
  }
}
.about-sec .about-banner {
  position: relative;
}
.about-sec .about-banner img {
  position: absolute;
  left: 25px;
}
@media (max-width: 1199px) {
  .about-sec .about-banner img {
    position: relative;
    left: auto;
  }
}
.about-sec .about-txt {
  margin-top: 170px;
  margin-right: -15px;
}
@media (max-width: 1199px) {
  .about-sec .about-txt {
    margin-top: 0;
  }
}
.about-sec .about-header {
  font-size: 30px;
  font-family: "itc-bd";
  color: #626262;
}
@media (max-width: 1199px) {
  .about-sec .about-header {
    margin-bottom: 25px;
  }
}
.about-sec .txt {
  font-size: 20px;
  color: #626262;
  font-family: "itc-li";
  line-height: 1.8;
  text-align: justify;
  margin-top: 23px;
}
@media (max-width: 1199px) {
  .about-sec .txt {
    margin-top: 25px;
    padding-right: 15px;
    transition-delay: unset !important;
  }
}
.about-sec .info {
  margin-top: 182px;
  padding: 0 62px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1199px) {
  .about-sec .info {
    margin-top: 40px;
    padding: 0;
  }
}
.about-sec .info .info-title {
  font-size: 24px;
  font-family: "itc-md";
  color: #25accd;
  margin-top: 44px;
}
@media (max-width: 1199px) {
  .about-sec .info .info-title {
    order: 1;
    margin: 0;
    margin-bottom: 20px;
  }
}
.about-sec .info .info-txt {
  font-size: 18px;
  font-family: "itc-li";
  line-height: 2.001;
  color: #626262;
  margin-top: 15px;
}
@media (max-width: 1199px) {
  .about-sec .info .info-txt {
    order: 3;
    margin-top: 15px;
    transition-delay: unset !important;
  }
}
@media (max-width: 1199px) {
  .about-sec .info .info-img {
    order: 2;
  }
}
@media (max-width: 1199px) {
  .about-sec .info .join {
    order: 4;
  }
}
.about-sec .info.info2 .info-title {
  color: #37ac56;
}

.support {
  margin-top: 172px;
  position: relative;
}
@media (max-width: 1199px) {
  .support {
    margin-top: 80px;
  }
}
.support .pattern {
  position: absolute;
  left: 0;
  top: -107px;
}
@media (max-width: 1199px) {
  .support .pattern {
    top: 50%;
    transform: translateY(-50%);
  }
}
.support .support-header {
  font-size: 30px;
  font-family: "itc-bd";
  color: #626262;
  margin-bottom: 24px;
}
.support .support-info {
  font-size: 17px;
  color: #626262;
  font-family: "itc-md";
  height: 65px;
  width: 100%;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 65px;
  display: flex;
  align-items: center;
  padding-right: 41px;
  margin-top: 15px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: default;
}
.support .support-info:hover {
  transform: translateX(-10px);
  color: #fff;
  background-color: #25accd;
}
@media (max-width: 1199px) {
  .support .support-info {
    padding: 10px 25px;
    text-align: center;
    justify-content: center;
  }
}

.partner {
  margin-top: 160px;
}
@media (max-width: 1199px) {
  .partner {
    margin-top: 80px;
  }
}
.partner .part-cont {
  position: relative;
  padding-top: 140px;
}
@media (max-width: 1199px) {
  .partner .part-cont {
    padding-top: 0px;
  }
}
.partner .partner-title-cont {
  position: absolute;
  left: -15px;
  top: 0;
}
.partner .partner-header {
  z-index: 9;
  position: relative;
  font-size: 36px;
  font-family: "itc-bd";
  color: #fff;
  line-height: 1.111;
}
@media (max-width: 1199px) {
  .partner .partner-header {
    color: #626262;
    font-size: 30px;
    text-align: center;
    margin-bottom: 25px;
  }
}
.partner .parts {
  padding-top: 140px;
  padding-right: 35px;
}
@media (max-width: 1199px) {
  .partner .parts {
    padding: 0;
    margin-top: 25px;
  }
}
.partner .part {
  display: flex;
  margin-bottom: 50px;
}
@media (max-width: 1199px) {
  .partner .part {
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
  }
}
.partner .part-logo {
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  min-width: 153px;
  height: 153px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 38px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 1199px) {
  .partner .part-logo {
    margin: 0;
    margin-bottom: 10px;
  }
}
.partner .part-logo:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: "";
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(98, 98, 98, 0.25) 0, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(98, 98, 98, 0.25) 0, rgba(0, 0, 0, 0) 80%);
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.partner .part-logo:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
.partner .part-logo:hover:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}
.partner .part-head {
  font-size: 24px;
  font-family: "itc-Md";
  color: #626262;
  margin-bottom: 15px;
  cursor: pointer;
}
.partner .partname {
  text-transform: uppercase;
  font-size: 24px;
  font-family: "itc-Md";
  color: #626262;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.partner .partname:hover {
  color: #25accd;
}
.partner .part-txt {
  font-size: 18px;
  font-family: "itc-li";
  color: #626262;
  text-align: justify;
  line-height: 2.001;
}

.stages {
  margin-top: 70px;
}
.stages .stages-header {
  font-size: 30px;
  font-family: "itc-Bd";
  color: #626262;
  margin-bottom: 23px;
}
.stages .stages-header img {
  margin-left: 10px;
}
.stages .stages-cont {
  position: relative;
}
@media (max-width: 1199px) {
  .stages .stages-cont {
    width: 260px;
    margin: auto;
  }
}
.stages .stages-cont img {
  margin: auto;
}
.stages .stage {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-family: "itc-md";
  color: #626262;
  line-height: 1.556;
  position: absolute;
  cursor: default;
}
@media (max-width: 1199px) {
  .stages .stage {
    position: static;
    flex-direction: row-reverse !important;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 15px;
  }
}
.stages .stage span {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  background-color: #25accd;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 1199px) {
  .stages .stage span {
    margin: 0 !important;
    margin-left: 20px !important;
  }
}
.stages .stage:nth-of-type(n+6) span {
  background-color: #37ac56;
}
.stages .stage:nth-of-type(1) {
  text-align: left;
  top: 60px;
  right: 135px;
}
.stages .stage:nth-of-type(1) span {
  margin-right: 20px;
}
.stages .stage:nth-of-type(2) {
  text-align: center;
  flex-direction: column;
  top: 93px;
  right: 370px;
}
.stages .stage:nth-of-type(2) span {
  margin-top: 9px;
}
.stages .stage:nth-of-type(3) {
  text-align: center;
  flex-direction: column-reverse;
  top: 157px;
  left: 350px;
}
.stages .stage:nth-of-type(3) span {
  margin-bottom: 6px;
}
.stages .stage:nth-of-type(4) {
  text-align: right;
  flex-direction: row-reverse;
  top: 225px;
  left: 160px;
}
.stages .stage:nth-of-type(4) span {
  margin-left: 23px;
}
.stages .stage:nth-of-type(5) {
  text-align: center;
  flex-direction: column-reverse;
  top: 299px;
  left: 399px;
}
.stages .stage:nth-of-type(5) span {
  margin-bottom: 6px;
}
.stages .stage:nth-of-type(6) {
  text-align: center;
  flex-direction: column;
  top: 235px;
  right: 392px;
}
.stages .stage:nth-of-type(6) span {
  margin-top: 9px;
}
.stages .stage:nth-of-type(7) {
  text-align: left;
  bottom: 52px;
  right: 152px;
}
.stages .stage:nth-of-type(7) span {
  margin-right: 20px;
}
.stages .stage:nth-of-type(8) {
  text-align: center;
  flex-direction: column;
  bottom: -4px;
  right: 372px;
}
.stages .stage:nth-of-type(8) span {
  margin-top: 9px;
}
.stages .stage:nth-of-type(9) {
  text-align: center;
  flex-direction: column-reverse;
  bottom: -66px;
  left: 377px;
}
.stages .stage:nth-of-type(9) span {
  margin-bottom: 6px;
}
.stages .stage:hover span {
  background-color: #626262;
}

.terms {
  margin-top: 250px;
}
@media (max-width: 1199px) {
  .terms {
    margin-top: 80px;
  }
}
.terms .terms-header {
  font-size: 30px;
  font-family: "itc-bd";
  color: #626262;
  margin-bottom: 50px;
}
@media (max-width: 1199px) {
  .terms .terms-header {
    margin-bottom: 40px;
  }
}
.terms .terms-cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 1199px) {
  .terms .terms-cont {
    flex-direction: column;
  }
}
.terms .term {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1199px) {
  .terms .term {
    align-items: center;
    margin-bottom: 30px;
  }
}
.terms .num {
  border-radius: 50%;
  background-color: #25accd;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 18px;
  color: #fff;
  margin-bottom: 13px;
}
.terms .num:after {
  content: "";
  width: 34px;
  height: 34px;
  border-style: solid;
  border-width: 1px;
  border-color: #25accd;
  border-radius: 50%;
  position: absolute;
  left: 0;
  bottom: -1px;
}
.terms .term-text {
  font-size: 20px;
  color: #626262;
}
@media (max-width: 1199px) {
  .terms .join {
    margin-top: 40px;
  }
}

.footer {
  background-image: url("../images/curve.png");
  background-position-x: center;
  padding-top: 140px;
  padding-bottom: 60px;
  margin-top: 40px;
  position: relative;
}
.footer:after {
  background-color: #23accd;
  width: 100%;
  content: "";
  position: absolute;
  height: 152px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
@media (max-width: 1199px) {
  .footer:after {
    height: 100px;
    display: none;
  }
}
@media (max-width: 1199px) {
  .footer {
    background-color: #23accd;
    background-image: none;
    padding-top: 40px;
    margin-top: 60px;
  }
}
.footer .pattern {
  position: absolute;
  left: 0;
  bottom: 0;
}
.footer .footer-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1199px) {
  .footer .footer-cont {
    flex-direction: column;
  }
}
.footer .right {
  display: flex;
  align-items: center;
}
@media (max-width: 1199px) {
  .footer .right {
    flex-direction: column;
  }
}
.footer .contact {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 18px;
  font-family: "itc-md";
  margin-left: 43px;
}
.footer .contact span {
  display: flex;
  background-color: white;
  width: 39px;
  height: 39px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 16px;
  color: #23accd;
  margin-left: 9px;
}
@media (max-width: 1199px) {
  .footer .contact {
    margin-bottom: 15px;
  }
}
.footer .phone {
  transform: rotate(-90deg);
}
.footer .left {
  font-size: 16px;
  color: white;
}
@media (max-width: 1199px) {
  .footer .left {
    margin-top: 10px;
  }
}

.join-pop {
  position: fixed;
  width: 100%;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #f5f8f9;
  z-index: 99999;
}
@media (max-width: 992px) {
  .join-pop {
    width: 100%;
  }
}
.join-pop .join-title {
  font-size: 25px;
  font-family: itc-bd;
  color: #626262;
  margin-bottom: 39px;
}
.join-pop .join-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 992px) {
  .join-pop .join-popup {
    width: 90%;
  }
}
.join-pop .join-form {
  width: 541px;
  margin: auto;
}
@media (max-width: 992px) {
  .join-pop .join-form {
    width: 100%;
  }
}
.join-pop .input-cont {
  width: 100%;
  margin-bottom: 19px;
  position: relative;
  z-index: 999999;
}
.join-pop .input-cont:last-child {
  margin-left: 0;
}
.join-pop .input-cont .svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 35px;
  fill: #aab3cd;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.join-pop .contact-input {
  width: 100%;
  background-color: #fff !important;
  box-shadow: 0px 4px 10px 0px rgba(15, 36, 96, 0.08);
  height: 51px;
  border-radius: 52px;
  border: 2px solid transparent;
  padding: 0 65px;
  font-size: 15px;
  color: #aab3cd;
  text-align: right;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 9;
}
.join-pop .contact-input::placeholder {
  font-size: 15px;
  color: #aab3cd;
}
.join-pop .contact-input:focus {
  border-color: #25accd;
}
.join-pop .contact-input:focus ~ .svg {
  fill: #1580f1;
}
.join-pop .join-btn {
  background-color: #25accd;
  color: #fff;
  font-family: itc-bd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 55px;
  backface-visibility: hidden;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  height: 50px;
  width: 100%;
  margin-top: 2px;
}
.join-pop .join-btn:active, .join-pop .join-btn:focus, .join-pop .join-btn:hover {
  color: #fff;
  box-shadow: 0px 8px 15px 0px rgba(21, 128, 241, 0.25);
}
.join-pop .close-form {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  left: 50%;
  top: 75px;
  font-size: 34px;
}
@media (max-width: 992px) {
  .join-pop .close-form {
    display: inline-block;
    top: 25px;
  }
}

.Success {
  position: fixed;
  width: 100%;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #f5f8f9;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
}
.Success img {
  margin: auto;
}
.Success .succ {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Success .Success-title {
  font-size: 25px;
  font-family: itc-bd;
  color: #626262;
  margin-top: 55px;
  margin-bottom: 22px;
}
@media (max-width: 992px) {
  .Success .Success-title {
    font-size: 24px;
  }
}
.Success .Success-info {
  font-size: 20px;
  font-family: itc-li;
  color: #626262;
}
.Success .back-btn {
  background-color: #25accd;
  color: #fff;
  font-family: itc-bd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 55px;
  backface-visibility: hidden;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 238px;
  height: 50px;
  margin: auto;
  margin-top: 50px;
}
@media (max-width: 992px) {
  .Success .back-btn {
    width: 100%;
  }
}

.join-pop .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100%;
  height: 51px;
}
.join-pop .bootstrap-select > button.dropdown-toggle {
  background-color: #fff;
  outline: none;
  height: 100%;
  border: none;
  border-radius: 51px;
  box-shadow: 0px 4px 10px 0px rgba(15, 36, 96, 0.08);
  padding: 0;
  padding: 0 65px 0 30px;
  font-size: 15px;
  outline: none !important;
  color: #aab3cd;
}
.join-pop .bootstrap-select > button.dropdown-toggle:hover {
  background-color: #fff;
}
.join-pop .bootstrap-select > button.dropdown-toggle .filter-option-inner-inner {
  text-align: right;
}
.join-pop .bootstrap-select > button.dropdown-toggle:after {
  content: "";
  font-family: "Linearicons-Free";
  font-size: 15px;
  color: #aab3cd;
  border: none;
}

.dropdown.bootstrap-select.show .bootstrap-select > button.dropdown-toggle {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/*# sourceMappingURL=main.css.map */
