.header {
    position: relative;
}

.header-banner {
    img {
        position: absolute;
        top: -380px;
        right: -120px;

        @media (max-width:1199px) {
            position: relative;
            top: auto;
            right: auto;
        }
    }
}

.header-sec {
    margin-top: 100px;

    @media (max-width:1199px) {
        margin-top: 50px;
    }

    &:last-of-type {
        @media (max-width:1199px) {
            margin-top: 25px;
        }
    }

    .main-title {
        font-family: 'itc-bd';
        font-size: 36px;
        color: $grey;
        white-space: nowrap;
        overflow: hidden;
        padding-right: 2px;
        padding-bottom: 2px;

        span {
            color: $blue;
        }

        @media (max-width:1199px) {
            font-size: 24px;
            text-align: center;
            margin: auto;
            margin-bottom: 25px;
        }
    }

    .txt {
        font-size: 20px;
        font-family: 'itc-li';
        color: $grey;
        line-height: 1.8;
        padding-left: 100px;
        margin-top: 33px;

        @media (max-width:1199px) {
            padding-left: 0;
        }
    }
}