.join-pop {
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #f5f8f9;
    z-index: 99999;

    //display: none;
    @media (max-width:992px) {
        width: 100%;
    }

    .join-title {
        font-size: 25px;
        font-family: itc-bd;
        color: $grey;
        margin-bottom: 39px;
    }

    .join-popup {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @media (max-width:992px) {
            width: 90%;
        }
    }

    .join-form {
        width: 541px;
        margin: auto;

        @media (max-width:992px) {
            width: 100%;
        }
    }

    .input-cont {
        width: 100%;
        margin-bottom: 19px;
        position: relative;
        z-index: 999999;

        &:last-child {
            margin-left: 0;
        }

        .svg {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 35px;
            fill: #aab3cd;
            @include transition(all 0.3s ease-in-out);
        }
    }

    .contact-input {
        width: 100%;
        background-color: #fff !important;
        box-shadow: 0px 4px 10px 0px rgba(15, 36, 96, 0.08);
        height: 51px;
        border-radius: 52px;
        border: 2px solid transparent;
        padding: 0 65px;
        font-size: 15px;
        color: #aab3cd;
        text-align: right;
        @include transition(all 0.3s ease-in-out);
        z-index: 9;

        &::placeholder {
            font-size: 15px;
            color: #aab3cd;
        }

        &:focus {
            border-color: $blue;

            &~.svg {
                fill: #1580f1;
            }
        }


    }

    .join-btn {
        background-color: $blue;
        color: #fff;
        font-family: itc-bd;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 55px;
        backface-visibility: hidden;
        @include transition(all 0.5s ease-in-out);
        height: 50px;
        width: 100%;
        margin-top: 2px;


        &:active,
        &:focus,
        &:hover {
            color: #fff;
            box-shadow: 0px 8px 15px 0px rgba(21, 128, 241, 0.25);
        }
    }


    .close-form {
        cursor: pointer;
        position: absolute;
        z-index: 100;
        left: 50%;
        top: 75px;
        font-size: 34px;

        @media (max-width:992px) {
            display: inline-block;
            top: 25px;
        }
    }

}

.Success {
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #f5f8f9;
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;

    img {
        margin: auto;
    }

    .succ {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .Success-title {
        font-size: 25px;
        font-family: itc-bd;
        color: $grey;
        margin-top: 55px;
        margin-bottom: 22px;

        @media (max-width:992px) {
            font-size: 24px;
        }
    }

    .Success-info {
        font-size: 20px;
        font-family: itc-li;
        color: $grey;
    }

    .back-btn {
        background-color: $blue;
        color: #fff;
        font-family: itc-bd;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 55px;
        backface-visibility: hidden;
        @include transition(all 0.5s ease-in-out);
        width: 238px;
        height: 50px;
        margin: auto;
        margin-top: 50px;

        @media (max-width:992px) {
            width: 100%;
        }
    }
}

.join-pop {
    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
        width: 100%;
        height: 51px;
    }

    .bootstrap-select>button.dropdown-toggle {
        background-color: #fff;
        outline: none;
        height: 100%;
        border: none;
        border-radius: 51px;
        box-shadow: 0px 4px 10px 0px rgba(15, 36, 96, 0.08);
        padding: 0;
        padding: 0 65px 0 30px;
        font-size: 15px;
        outline: none !important;
        color: #aab3cd;

        &:hover {
            background-color: #fff
        }

        .filter-option-inner-inner {
            text-align: right;
        }



        &:after {
            content: "\e874";
            font-family: 'Linearicons-Free';
            font-size: 15px;
            color: #aab3cd;
            border: none;
        }



    }
}

.dropdown.bootstrap-select.show {
    .bootstrap-select>button.dropdown-toggle {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}