.terms {
    margin-top: 250px;

    @media (max-width:1199px) {
        margin-top: 80px;
    }

    .terms-header {
        font-size: 30px;
        font-family: "itc-bd";
        color: $grey;
        margin-bottom: 50px;

        @media (max-width:1199px) {
            margin-bottom: 40px;
        }
    }

    .terms-cont {
        display: flex;
        justify-content: space-around;
        align-items: center;

        @media (max-width:1199px) {
            flex-direction: column;
        }
    }

    .term {
        display: flex;
        flex-direction: column;

        @media (max-width:1199px) {
            align-items: center;
            margin-bottom: 30px;
        }
    }

    .num {
        border-radius: 50%;
        background-color: $blue;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        font-size: 18px;
        color: #fff;
        margin-bottom: 13px;

        &:after {
            content: "";
            width: 34px;
            height: 34px;
            border-style: solid;
            border-width: 1px;
            border-color: rgb(37, 172, 205);
            border-radius: 50%;
            position: absolute;
            left: 0;
            bottom: -1px;
        }
    }

    .term-text {
        font-size: 20px;
        color: $grey;
    }

    .join {
        @media (max-width:1199px) {

            margin-top: 40px;
        }
    }
}